.btn-icon {
  border: transparent;
  background-color: transparent;
  height: 50px;
  width: 50px;
  border-radius: 50%;

  &:hover {
    background-color: $hoverGrey;
    cursor: pointer;
  }

  &:focus {
    background-color: transparent;
    border-color: $lightBlue;
  }
}