@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22.4px;
  color: $blackColor;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 5px;
}
