.small-text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;

  @include large {
    font-size: 13px;
  }

  &_white {
    color: $whiteColor;
  }

  &_black {
    color: $blackColor;
  }
}