$blackColor: #222222;
$greyColor: #666666;
$whiteColor: #FFFF;
$darkGrey: #4E4E4E;
$lightBlue: #5AB0FF;
$hoverGrey: #E5E5E5;
$blueColor: #0278ED;
$redColor: #FF5437;
$orangeColor: #FF9209;
$pinkColor: #E738CE;
$turquoiseColor: #00C6DF;
$purpleColor: #B25DF8;
